<!DOCTYPE html>
<html>
<head>
  <title>Rampageworks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="logo_background">
</div>
<div class="info">
  <p class="info_label"> Miracles come in moments. Be ready and willing.  </p>
  <p class="time_label"> Founded in 2013. </p>
</div>

</body>
</html>
